</div>

<footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>

<div id="bottomnav">

<div id="contactUs" class="show_mobile container">
	<div class="row">
		<strong>Contact Us</strong>
		<ul class="cf">
			<li class="cu2"><a href="tel:+1-800-238-0904">(800) 238-0904</a>			<li class="cu3"><a href="https://www.readingglasses.com/help.php?section=contactus&mode=update">Email</a>
		</ul>
	</div>
</div>
<footer class="container">
	<div id="footerLinks" class="row cf">
		<div class="group">
			<strong>My Account</strong> 
			<ul>
							<li><a href="https://www.readingglasses.com/error_message.php?need_login">Sign in</a>
				<li><a href="https://www.readingglasses.com/register.php">Register</a>
							<li><a href="https://www.readingglasses.com/repairs-and-returns/">Repairs &amp; returns</a>
			</ul>
		</div>
		
		<div class="group">		
			<strong>About Us</strong> 
			<ul>
				<li><a href="https://www.readingglasses.com/about-our-company/">Our story</a>
				<li><a href="https://www.readingglasses.com/help.php?section=contactus&mode=update">Contact</a>
				<li><a href="https://www.readingglasses.com/testimonials/">Testimonials</a>
								<li><a href="https://www.readingglasses.com/store-locator/">Store Locator</a>
								<li><a href="https://www.readingglasses.com/blog/">The Blog</a>
			</ul>
		</div>
		
		<div class="group">
			<strong>Help</strong> 
			<ul>
								<li><a href="https://www.readingglasses.com/our-guarantee/">Customer Delight Promise</a>
								<li><a href="https://www.readingglasses.com/primer-for-first-timers/">Primer for 1st Timers</a>
				<li><a href="https://www.readingglasses.com/privacy-and-security/">Privacy &amp; Security</a>
				<li><a href="https://www.readingglasses.com/knowledge-center/">Knowledge Center</a>
				<li><a href="https://www.readingglasses.com/accessibility/">Accessibility Policy</a>
				<li><a href="https://www.readingglasses.com/sitemap/">Site Map</a>
			</ul> 
		</div>
		
		<div class="group" id="customerService">
			<strong>Customer Service</strong> 
			<ul>
				<li>  <span class="avaiable"><a href='javascript:void(0);' onclick="zE.activate()">
      	Live Chat
  	  	  	</a></span>
				<li><a href="tel:+1-800-238-0904">(800) 238-0904</a>				<li><a href="https://www.readingglasses.com/repairs-and-returns/">Repairs &amp; Returns</a>
				<li><a href="https://www.readingglasses.com/shipping-info/">Shipping Info</a>
				<li><a href="https://www.readingglasses.com/customer-care/">Customer Care</a>
			</ul>
		</div>
		
		<div id="connectWithUs">
		  <strong>Follow Us</strong>
			<ul class="inline">
				<li><a href="https://www.instagram.com/readingglasses/" target="ig" class="ir instagram">Instagram</a>
				<li><a href="https://www.readingglasses.com/facebook/" target="fb" class="ir facebook">Facebook</a>
				<li><a href="https://www.readingglasses.com/twitter/" target="twt" class="ir twitter">Twitter</a>
				<li><a href="https://www.youtube.com/channel/UCPI8q16IFQt6VYP1tWT4mPQ" target="yt" class="ir youtube">YouTube</a>
			</ul>
      <strong>Accepted Payments</strong>
      <ul class="inline">
        <li><img alt="PayPal" 					src="https://www.readingglasses.com/assets/img/badges/PayPal.svg" 			width="48" height="30">
        <li><img alt="Amazon Pay" 			src="https://www.readingglasses.com/assets/img/badges/AmazonPay-v2.svg"	width="48" height="30">
        <li><img alt="Apple Pay" 				src="https://www.readingglasses.com/assets/img/badges/ApplePay.svg" 		width="48" height="30">
        <li><img alt="Google Pay" 			src="https://www.readingglasses.com/assets/img/badges/GooglePay.svg" 		width="48" height="30">
        <li><img alt="Visa" 						src="https://www.readingglasses.com/assets/img/badges/Visa.svg" 				width="48" height="30">
        <li><img alt="American Express"	src="https://www.readingglasses.com/assets/img/badges/AMEX.svg" 				width="48" height="30">		
        <li><img alt="Mastercard" 			src="https://www.readingglasses.com/assets/img/badges/Mastercard.svg" 	width="48" height="30">	
        <li><img alt="Discover" 				src="https://www.readingglasses.com/assets/img/badges/Discover.svg" 		width="48" height="30">			
      </ul>
		</div>
</div>
<div class="row">
<span class="country_box us" id="country_select_bottom_box">
  <a class="drop" href="javascript:void(0)" data-target="country_select_bottom">
  <span>
  <img alt="Flag of " class="flag" src="https://www.readingglasses.com/assets/img/international/us.svg" width="45" height="26">
  <svg style="max-width:11px;max-height:7px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.31 7.07" class="down"><path fill="#010101" d="M9.9 0L5.66 4.24 1.41 0 0 1.41l5.66 5.66 5.65-5.66z"/></svg>
  <svg style="max-width:11px;max-height:7px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.31 7.07" class="up"><path fill="#010101" d="M9.9 7.07L5.66 2.83 1.41 7.07 0 5.66 5.66 0l5.65 5.66z"/></svg>
    		<span title="Shipping to United States">Change Country</span>
			</span>
  </a>
		</span>
<p class="hide_mobile">&copy;2008-2020 ReadingGlasses.com  All Rights Reserved
<!-- |	<a href="https://www.readingglasses.com/sitemap/">Sitemap</a> -->
	</div>
<div class="country_select row gt3" id="country_select_bottom">
<ol>
<li class="AU">
    <a href="https://www.readingglasses.com/?country=AU" rel="nofollow">
    <img alt="Flag of Australia" class="flag" src="https://www.readingglasses.com/assets/img/international/au.svg" width="60" height="34">
<span class="label">Australia</span>
  </a>
</li>
<li class="CA">
    <a href="https://www.readingglasses.com/?country=CA" rel="nofollow">
    <img alt="Flag of Canada" class="flag" src="https://www.readingglasses.com/assets/img/international/ca.svg" width="60" height="34">
<span class="label">Canada</span>
  </a>
</li>
<li class="NZ">
    <a href="https://www.readingglasses.com/?country=NZ" rel="nofollow">
    <img alt="Flag of New Zealand" class="flag" src="https://www.readingglasses.com/assets/img/international/nz.svg" width="60" height="34">
<span class="label">New Zealand</span>
  </a>
</li>
<li class="US">
    <a href="https://www.readingglasses.com/?country=US" rel="nofollow">
    <img alt="Flag of United States" class="flag" src="https://www.readingglasses.com/assets/img/international/us.svg" width="60" height="34">
<span class="label">United States</span>
  </a>
</li>
</ol>
</div>
<div class="row show_mobile">
<p>&copy;2008-2020 ReadingGlasses.com  All Rights Reserved
</div>
		<div id="GTS_CONTAINER"></div>
		
</div>
