<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<div id="topnav_top">
<header class="container">
	<div class="row">
				
	  		<em>Free Shipping<span class="hide_tiny"> &amp; Free Returns</span>. Every Day.</em>
				
		<ul class="hide_tablet">
      <li><a href="https://www.readingglasses.com/knowledge-center/">Knowledge Center</a>
      <li><a href="https://www.readingglasses.com/blog/">The Blog</a>
			<li><a href="https://www.readingglasses.com/repairs-and-returns/">Returns</a>
			<li><a href="https://www.readingglasses.com/customer-care/">Customer Care</a>
			<li><a href="tel:+1-800-238-0904"> U.S. &amp; Canada <strong>(800) 238-0904</a></strong>		</ul>
	</div>
</header>
</div>

<div id="wrapper">
  <div id="logoContainer" class="container">
<div class="row" style="position: relative">
<div id="rgLogo2">
{{#link 'help_center'}}
<img alt="ReadingGlasses.com" src="https://www.readingglasses.com/assets/img/2017/rgLogo.svg?v=3" width="431" height="67" onload="this.className='loaded'" class="loaded">
{{/link}}
</div>
<!-- /#rgLogo2 -->
  <div class="nav-wrapper">
    <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="user-nav" id="user-nav">
  
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{#if signed_in}}
      <div class="user-info dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{user_avatar class="user-avatar"}}
          <span class="hide-on-mobile">
            {{user_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </span>
        </button>
        <div class="dropdown-menu" role="menu">
          {{link "my_activities" role="menuitem"}}
          {{my_profile role="menuitem"}}
          {{change_password role="menuitem"}}
          {{link "sign_out" role="menuitem"}}
        </div>
      </div>
    {{else}}
      {{#link "sign_in" class="sign-in"}}
        {{t 'sign_in'}}
      {{/link}}
    {{/if}}
  </div>
  <!-- /.nav-wrapper -->
</div>
<!-- /.row -->
</div>
<!-- /#logoContainer -->

<div id="topnav_bottom">
<div id="nav2017" class="nav hide_tablet">
	
<!--[if lte IE 8 ]>   <div class="nav n2"> <![endif]-->
<nav class="n2">
  <ul class="n2ul">
<li class="tab tab-womens">
		<a href="https://www.readingglasses.com/shop-womens/" class="hide_mobile">Women<i></i></a>
		<a href="javascript:void(0);" class="show_mobile">Women<i></i></a>

<li class="tab tab-mens">
		<a href="https://www.readingglasses.com/shop-mens/" class="hide_mobile">Men<i></i></a>
		<a href="javascript:void(0);" class="show_mobile">Men<i></i></a>

<li class="tab tab-brands">
		<a href="javascript:void(0)" class="hide_mobile">Brands<i></i></a>
		<a href="javascript:void(0);" class="show_mobile">Brands<i></i></a>
<li class="tab tab-frame-style">
		<a href="javascript:void(0)" class="hide_mobile">Frame Style<i></i></a>
		<a href="javascript:void(0);" class="show_mobile">Frame Style<i></i></a>
<li class="tab tab-lens-type">
		<a href="javascript:void(0)" class="hide_mobile">Lens Type<i></i></a>
		<a href="javascript:void(0);" class="show_mobile">Lens Type<i></i></a>
<li class="tab tab-accessories">
		<a href="https://www.readingglasses.com/accessories/" class="hide_mobile">Accessories<i></i></a>
		<a href="javascript:void(0);" class="show_mobile">Accessories<i></i></a>
<li class="tab tab-whats-new">
		<a href="https://www.readingglasses.com/whats-new/" class="hide_mobile">What's New<i></i></a>
		<a href="javascript:void(0);" class="show_mobile">What's New<i></i></a>
<li class="tab tab-price tab-red">
		<a href="https://www.readingglasses.com/by-price/" class="hide_mobile">By Price<i></i></a>
		<a href="javascript:void(0);" class="show_mobile">By Price<i></i></a>
<li class="tab tab-sale">
		<a href="https://www.readingglasses.com/sale/" class="hide_mobile">Sale<i></i></a>
		<a href="javascript:void(0);" class="show_mobile">Sale<i></i></a>

	</ul>
	
<ul class="n2ul show_tablet" id="extraNav">
<li class="tab"><a href="https://www.readingglasses.com/?section=account">My Account</a></li>
<li class="tab"><a href="https://www.readingglasses.com/store-locator/">Store Locator</a></li>
<li class="tab"><a href="https://www.readingglasses.com/repairs-and-returns/">Repairs &amp; Returns</a></li>
<li class="tab"><a href="https://www.readingglasses.com/customer-care/">Customer Care</a></li>
<li class="tab"><a href="https://www.readingglasses.com/shipping-info/">Shipping Info</a></li>
<li class="tab"><a href="https://www.readingglasses.com/about-our-company/">About Us</a></li>
<li class="tab"><a href="https://www.readingglasses.com/primer-for-first-timers/">First time wearing glasses?</a></li>
<li class="tab hide_mobile"><a href="https://www.readingglasses.com/sitemap/">Sitemap</a></li>
</ul>
</nav>
<!--[if lte IE 8 ]>   </div> <![endif]-->
</div>
</div>
<!-- /#topnav_bottom -->
